@import '../../node_modules/antd/dist/antd.css';

.layout-sider {
    background: #fff;
    padding: 24px;
    min-height: 140px;
    text-align: center;
}

.layout-content {
    background: #fff;
    padding: 24px;
    min-height: 70px;
    line-height: 70px;
}

.ant-avatar {
    margin-top: 16px;
    margin-right: 16px;
  }
  
